.ContentBox{
  position: fixed;

  top: 36vh;
  left: 8.5vw;
  width: 58vw;
  max-width: 950px;
  height: 60vh;
  max-height: 400px;
  background-color: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);

  display: flex;
  flex-direction: column;
}

.ContentBox p{
  color: #CBD7FF;
  text-align: left;
  font-size: 35px;
  font-family: -apple-system, serif;
  letter-spacing: 2px;
  margin-top: 0;
  padding: 30px;
}