.SkillsButton{
  position: fixed;
  top: 24%;
  right: 0;
  width: 123px;
  height: 80px;

  background: #DBC89D 0 0 no-repeat padding-box;
  box-shadow: -10px 0 50px #E65E5482;
  border-radius: 20px 0 0 20px;
  opacity: 1;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  text-align: center;
  text-shadow: 0 3px 6px #1D1D18CC;
  letter-spacing: 0;
  font-family: 'Cascadia Code', 'Open Sans';
  font-size: 25px;
  line-height: 74px;
  cursor: pointer;
}

.SkillsList{
  position: fixed;
  top: 24%;
  right: 0;
  width: 604px;
  height: 645px;
  cursor: default;
  margin: 0;
  padding-top: 30px;

  background: #DBC89D 0 0 no-repeat padding-box;
  box-shadow: -10px 0 50px #E65E5482;
  border-radius: 20px 0 0 20px;
  opacity: 1;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.SkillsList li {
  margin: 17px 0 17px 50px;
  letter-spacing: 0;
  color: #124104;
  opacity: 1;
}

.test{
  position: fixed;
  top: 24%;
  right: 0;
  width: 605px;
  height: 696px;

  border: 1px solid #fbfdff;
}