.toggle_button {
  background: rgba(228, 157, 121, 0.8) 0 0 no-repeat padding-box;
  border: rgba(170, 165, 255, 0.11) solid 1px;
  border-radius: 20px 0 0 20px;
  opacity: 1;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  position: fixed;
  height: 7vh;
  width: 6vw;
  right: 0;
  cursor: pointer;
  padding: 0;

  font-family: 'Cascadia Code', 'Open Sans';
  font-size: 1.362vw;
  text-shadow: 0 3px 6px #1D1D18CC;
}

.toggle_button:focus {
  outline: none;
}

.toggle_button:hover{
  color: #fbfdff;
  background-color: rgb(79, 55, 38);
}